@layer components {
  .filters {
    @apply
    text-lg
    leading-6
    overflow-y-auto;
  }

  .filters > ul > li {
    @apply
    overflow-hidden;
  }

  .filters__link {
    @apply
    overflow-hidden
    mb-2
    font-semibold
    text-dark-400
    dark:text-dark-100
    flex
    gap-1
    items-center;
  }

  .filters > ul > li:not(:first-child) {
    @apply
    mt-4;
  }

  .filter {
    @apply
    space-y-2
    border-l
    border-dark-900/10
    dark:border-dark-50/10
    text-base
    align-middle
    leading-none;
  }

  .filter__link {
    @apply
    flex
    items-center
    gap-2
    border-l
    pl-4
    py-1
    -ml-px
    border-transparent
    text-dark-300
    hover:border-dark-400
    hover:text-dark-400
    dark:text-dark-100
    dark:hover:border-dark-50
    dark:hover:text-dark-50;
  }

  .filter__link_active {
    @apply
    border-current
    text-dark-400
    dark:text-dark-50
    font-semibold;
  }

  .filter__favicon {
    @apply
    w-4
    h-4
    backdrop-contrast-50
    dark:backdrop-contrast-0
    dark:brightness-150;
  }
}
