@layer components {
  .filters {
    @apply
    text-lg
    leading-6
    overflow-y-auto;
  }

  .filters > ul > li {
    @apply
    overflow-hidden;
  }

  .filters__item {
    @apply
    mb-2
    flex
    gap-4
    items-center
    text-dark-400
    dark:text-dark-100;
  }

  .filters__title {
    @apply
    flex
    items-center
    leading-none
    font-semibold;
  }

  .filters__search {
    @apply
    min-w-0
    rounded-none
    outline-none
    caret-inherit
    transition-all
    duration-200
    bg-transparent
    leading-none
    overflow-hidden
    border-b
    border-dark-900/10
    dark:border-dark-50/10;
  }

  .filters > ul > li:not(:first-child) {
    @apply
    mt-4;
  }

  .filters__empty {
    @apply
    flex
    grow
    justify-center
    items-center
    p-4
    text-dark-300
    dark:text-dark-100;
  }

  .filter {
    @apply
    ml-[0.6875rem]
    space-y-2
    border-l
    border-dark-900/10
    dark:border-dark-50/10
    text-base
    align-middle
    leading-none;
  }

  .filter__link {
    @apply
    flex
    items-center
    gap-2
    border-l
    pl-[1.625rem]
    py-1
    -ml-px
    border-transparent
    text-dark-300
    hover:border-dark-400
    hover:text-dark-400
    dark:text-dark-100
    dark:hover:border-dark-50
    dark:hover:text-dark-50;
  }

  .filter__link_active {
    @apply
    border-current
    text-dark-400
    dark:text-dark-50
    font-semibold;
  }

  .filter__favicon {
    @apply
    w-4
    h-4
    backdrop-contrast-50
    dark:backdrop-contrast-0
    dark:brightness-150;
  }
}
