@layer components {
  .header {
    @apply
    sticky-bar
    top-0
    border-b;
  }

  .header__container {
    @apply
    sticky-bar__container
    h-[3.75rem];
  }

  .header__item {
    @apply
    relative
    flex
    items-center
    gap-[0.625rem];
  }

  .header__logo {
    @apply
    font-serif
    text-2xl
    flex-none
    overflow-hidden
    leading-none
    tracking-[.08em]
    font-bold
    drop-shadow-lg
    shadow-dark-900
    align-middle;
  }

  .header__logo > span {
    @apply
    bg-clip-text
    text-transparent
    bg-gradient-to-r
    from-dark-300
    via-dark-400
    to-dark-300
    dark:from-dark-100
    dark:via-dark-200
    dark:to-dark-100;
  }

  .header__caption {
    @apply
    absolute
    -top-2
    left-0
    tracking-widest
    text-[0.6em]
    font-medium
    text-dark-300
    dark:text-dark-200;
  }

  .header__btn {
    @apply
    w-10
    h-10
    rounded
    flex
    items-center
    justify-center
    text-dark-300
    dark:text-dark-100
    border-dark-900/10
    dark:border-dark-50/10
    hover:border
    transition-all
    duration-200;
  }

  .header__btn:hover > * {
    @apply
    scale-110
    text-dark-400
    dark:text-dark-200;
  }
}
