@layer components {
  .notifications {
    @apply
    z-20
    w-full
    sm:w-[30rem]
    px-4;
  }

  .notifications__container {
    @apply
    shadow-lg
    rounded-b
    border
    border-t-0
    border-dark-900/10
    dark:border-dark-50/10
    bg-gray-50
    dark:bg-dark-700;
  }

  .notifications__content {
    @apply
    max-h-60
    overflow-y-auto
    flex
    flex-col
    gap-2
    p-2;
  }

  .notifications__footer {
    @apply
    flex
    gap-px
    grow
    border-t
    border-dark-900/10
    dark:border-dark-50/10
    bg-dark-900/10
    dark:bg-dark-50/10
    justify-center
    items-center;
  }

  .notifications__clear {
    @apply
    grow
    p-3
    bg-gray-50
    hover:bg-gray-100
    dark:hover:bg-dark-800
    dark:bg-dark-700
    flex
    gap-2
    justify-center
    items-center
    leading-none;
  }

  .notifications__no-data {
    @apply
    self-center
    text-base
    font-normal
    py-2
    text-dark-300
    dark:text-dark-100;
  }
}
