@layer components {
  .share {
    @apply
    flex
    gap-px
    p-px
    bg-dark-900/10
    dark:bg-dark-50/10;
  }

  .share__link {
    @apply
    py-2
    flex
    grow
    items-center
    justify-center
    transition-all
    duration-200
    bg-white/90
    dark:bg-dark-800/90
    hover:bg-gray-50
    hover:dark:bg-dark-800/95
    hover:text-gray-100
    hover:duration-300;
  }

  .share__link_fb {
    @apply
    hover:bg-facebook
    hover:dark:bg-facebook;
  }

  .share__link_wa {
    @apply
    hover:bg-whatsapp
    hover:dark:bg-whatsapp;
  }

  .share__link_tw {
    @apply
    hover:bg-twitter
    hover:dark:bg-twitter;
  }

  .share__link_copy {
    @apply
    hover:bg-amber-500
    hover:dark:bg-amber-600
    disabled:bg-yellow-500
    disabled:dark:bg-yellow-600;
  }

  .caption {
    @apply
    flex
    justify-between
    items-center;
  }

  .caption__site {
    @apply
    no-underline
    text-green-800
    dark:text-green-500
    text-sm
    font-normal;
  }

  a.caption__site {
    @apply
    hover:underline;
  }

  .caption__time {
    @apply
    text-dark-300
    dark:text-dark-200
    text-xs
    font-normal;
  }

  .content {
    @apply
    flex
    flex-col
    gap-1;
  }

  .content__title a {
    @apply
    text-lg
    font-semibold
    no-underline
    line-clamp-4;
  }

  .content__desc {
    @apply
    overflow-hidden
    block
    text-sm
    leading-6
    font-medium
    text-dark-300
    dark:text-gray-400;
  }

  .content__desc > * {
    @apply
    line-clamp-7;
  }

  .rumors {
    @apply
    grid
    sm:grid-cols-2
    lg:grid-cols-3
    gap-4;
  }

  .no-rumors {
    @apply
    mt-auto
    mb-auto
    flex
    flex-col
    gap-4
    justify-center
    items-center
    text-dark-300
    dark:text-gray-400;
  }

  .rumor-1 {
    @apply
    shadow-md
    bg-gray-50/95
    dark:bg-dark-700/95
    w-full
    flex
    flex-col
    sm:flex-row;
  }

  .rumor-1__image {
    @apply
    block
    w-full
    sm:w-7/12
    lg:w-8/12
    h-[14rem]
    sm:h-[25.9375rem]
    text-gray-100
    dark:text-gray-300;
  }

  .rumor-1__info {
    @apply
    flex
    flex-col
    gap-4
    p-4
    w-full
    sm:w-5/12
    lg:w-4/12;
  }

  .rumor {
    @apply
    flex
    flex-col
    gap-4
    overflow-hidden;
  }

  .rumor__image {
    @apply
    block
    w-full
    h-[14rem]
    lg:h-[12rem]
    text-gray-100
    dark:text-gray-300;
  }

  .rumor_no-image {
    @apply
    p-4
    shadow-md
    bg-gray-50/95
    dark:bg-dark-700/95;
  }

  .rumor_no-image .content__title a {
    @apply
    line-clamp-6;
  }

  .rumor-1 img,
  .rumor img {
    @apply
    transition-transform
    duration-500;
  }

  .rumor-1:hover img,
  .rumor:hover img {
    @apply
    scale-105;
  }
}
